@font-face {font-family: 'virtual_raveregular';src: url('font/virtual_rave-webfont.woff2') format('woff2'),url('font/virtual_rave-webfont.woff') format('woff');url('font/Virtual Rave.ttf') format('truetype');font-weight: normal;font-style: normal;}
.l-subheader-h {-webkit-animation-delay: 10s !important;animation-delay: 10s !important;}
input[type="text"]{width:76%;padding:0 .8rem;border-radius:0px;box-shadow:0 0 0 0px transparent, 0 0px 0 rgba(0,0,0,.0) inset;border:2px solid #2e2e2e;float:left;line-height:3.8rem !important;height:6rem;border-right:0px;font-size:15px;border-top-left-radius:5px;border-bottom-left-radius:5px;font-weight:normal;text-indent:30px;color:#040707;}
p.wysija-paragraph:before{    content: "";height: 15px;width: 20px;background-size: cover;background-image: url(icon-email.png);position: absolute;margin-top: 3.5%;margin-left: 14px;}
input[type="submit"]{width:24%;font-size:20px !important;float:left;margin-top:0px !important;padding:0px 20px !important;line-height:3.8rem !important;border-radius:0px !important;border:2px solid #2e2e2e !important;background-color:#f3e06e !important;color:#000 !important;border-left:0px !important;border-top-right-radius:5px !important;border-bottom-right-radius:5px !important;height:6rem;}
input:focus, textarea:focus, select:focus{box-shadow:0 0 0 0px !important;}
::-webkit-input-placeholder{color:#000;opacity:1;}
::-moz-placeholder{color:#000;opacity:1;}
:-ms-input-placeholder{color:#000;opacity:1;}
:-moz-placeholder{color:#000;opacity:1;}
header.l-header.pos_fixed.bg_transparent.shadow_thin {animation-duration:5s;-webkit-animation-delay: 5s !important;
    animation-delay: 0s !important;   animation-name: head;}
@keyframes head {
	-50{
		background:red;
	}0% {opacity:0;}50%{opacity:0;}100% {opacity:1;}}
.tp-mask-wrap img {opacity: 0.6;}
form#form-wysija-4{display:block !important;}
.animated.bounceInDown{animation-duration:1.5s;animation-delay:0s;animation-timing-function:linear;animation-iteration-count:1;}
.animated.fadeInUp{animation-duration:2s;animation-delay:0s;animation-timing-function:linear;animation-iteration-count:1;}
.ttwo h2.vc_custom_heading{text-transform:uppercase;font-size:22px;line-height:normal;}
.ttwo h3{font-size:20px;line-height:normal;margin-bottom:15px;}
.ttwo p{font-size:16px;line-height:normal;}
.bf-af:before{content:"";background-image:url(naam.png);position:absolute;width:565px;height:446px;background-repeat:no-repeat;left:-20px;bottom:0;z-index:-1;}
.bf-af:after{content:"";background-image:url(naam-2.png);position:absolute;width:530px;height:420px;background-repeat:no-repeat;top:0;right:-70px;}
.bbf-aaf:before {content: "";background-image: url(location-icon.png);position: absolute;width: 130px;height: 150px;background-repeat: no-repeat;left: 0;top: -34px;z-index: 9;}
.bbf-aaf:after {content: "";background-image: url(location-icon2.png);position: absolute;width: 130px;height: 150px;background-repeat: no-repeat;right: -44px;top: 586px;}

/* home page css */
.l-section-h.i-cf {padding: 0px 0px;}
h1, h2 {font-weight:800 !important;}
h1, h2, h3, h4, h5, h6 {line-height:1;}
section#fulheight {max-width: 1900px;}
#bold20 {font-weight: 800;line-height: 1.2;}
.heading40 {font-size: 40px;font-weight: 800;line-height: 50px;color: #262626;}
.withimg img {max-width: 115%;margin-top: 25px;}
.font26 h6 {font-size: 26px;line-height: 32px;margin-bottom: 4px;}
.w-btn.color_yellow.style_solid {background-color: #f7e070;color: #000 !important;}
header.l-header.bg_transparent.shadow_thin.pos_fixed {padding-top: 0px !important;}
.butn {text-transform: uppercase;border: 2px solid #fff;width: 100px;text-align: center;margin-left: 15px;border-radius: 8px;}
.ush_menu_1.type_desktop .w-nav-list.level_1 > .menu-item > a, span {text-transform:uppercase;}
header.l-header.bg_transparent.shadow_thin.pos_fixed {padding-top: 12px;}
.l-section.wpb_row.height_medium {padding-top: 0px !important;}
.butn span {font-size: 14px;font-weight: 700;}
.sign {background: #f7e070;color: #333;border: solid #f7e070;}
/*.zuzu{font-size: 140px !important;letter-spacing: 6px !important;}*/
.zuzu span {color: #f7e070;letter-spacing: 6px !important;}
div#virtulfont {font-family: 'virtual_raveregular';}
div#virtulfont span {font-size: 140px !important;}
.icon i.fa-icon-angle-down {background: #f7e070 !important;padding: 2px 11px !important;border-radius: 53px;}
ul.appbutton li {display: inline-block;padding-right: 15px;}
ul.appbutton {margin-left: 0px;}
canvas.particles-js-canvas-el {max-width: 56%;z-index: -1;}
/* bulding comm */
.host {line-height: 4px;}
.box {width: 260px;background: #fff;height: auto;padding: 6px 3px;margin-bottom: 10px;box-shadow:2px 2px 18px 4px rgba(175, 171, 171, 0.3);}
.imageafter img {position: absolute;top: 33%;left: 13%;}
div#box1 {position: absolute;top: -12%;left: -5%;}
div#box2 {position: absolute;top: -12%;left: 25%;}
div#box3 {left: -6%;position: absolute;top:75%;}
div#box4 {position: absolute;right: 52%;top: 90%;}
.box .alignleft {margin: 0px 8px 0px 0px;}
i.fas.fa-star {font-family: FontAwesome;font-style: normal;}
span.star {font-size: 16px;font-weight: 100;color: #95d0ca;text-transform: capitalize;font-style: normal !important;}
p.midname {font-size: 18px;color: #262626;font-weight: 600;}
i.fas.fa-heart {font-family: FontAwesome;font-style: normal;color: red;padding-right: 8px;}
p.rating {font-size: 18px;color: #6b6a6a;font-weight: 700;}
/* form section */
section.contactus input {height:auto;line-height:60px !important;}
section.contactus input, textarea {width: 100%;border-bottom: 3px solid #000;border-left: 3px solid transparent;border-right: 3px solid transparent;background: transparent !important;border-top: 3px solid transparent;padding: 0px;text-indent: 0px;
font-size: 18px;border-radius: 0px;box-shadow: 0px 0px 0px 0px transparent;}
section.contactus input#Submit {background: #f7e070 !important;width: 286px;border: 0px solid !important;margin-left: 18px;position: absolute;bottom: 0px;font-weight: 800;border-radius: 7px !important;}
section.contactus textarea:hover, textarea:active, textarea:visited, textarea:active {padding:8px !important;transition:1s;}
section.contactus textarea {max-height: 100px;padding: 5% 0px 0px 0px;}
.mar25 {margin-bottom: 25px !important;}
textarea ::-webkit-input-placeholder {position: absolute !important;bottom: 16px !important;}
section.contactus input:hover, input:focus, input:active, input:visited, textarea:hover,textarea:focus, textarea:active, textarea:visited {border: 3px solid #e3cc5c !important;text-indent: 10px !important;transition: 0.8s;}
/* footer section */
footer h3.widgettitle {font-size: 14px;font-weight: 700;margin-bottom: 2rem;}
.l-footer .widget {margin-bottom: 0.5rem;}
footer .w-socials.style_solid .w-socials-item-link, .w-socials.style_outlined .w-socials-item-link {border-radius: 1.25em;}
.w-socials-item-popup {display: none !important;}
a.w-socials-item-link {color: #b2b2b2 !important;}
.coptryt {font-size: 12px;margin-top: 40px;color: #b2b2b2;font-weight: 600;}
footer .widget_nav_menu ul li {padding-left: 0px !important;color: #8b8b8b;}
footer .widget_nav_menu ul li:before {display:none;}
footer .widget_nav_menu ul li a {font-size: 15px;color: #8b8b8b;}
.w-socials-item {margin-right: 8px;}
/*section#home {max-width: 1900px !important;overflow: hidden;}*/
section.l-section.wpb_row.height_full.valign_center.with_overlay {max-width: 1900px;}
.d5.animate_start {-webkit-animation-delay: 10s !important;animation-delay: 10s !important;}
div#banner_icon {position: absolute;z-index: 999;}
.imge1 img {position: relative;top: 0px;max-width: 80px;}
.img2 {position: absolute;top: 100px;left: 32%;max-width: 52%;}
strong a{color: #262626;}
/* === Media Query === */
@media (max-width:1160px) {
.bf-af:before {background-image: url(naam-minscreen.png);width: 353px;height: 282px;left: -5px;}
.bf-af:after {background-image: url(naam-2-minscreen.png);width: 352px;height: 275px;right: -30px;}
.imge1 .us-frame {opacity: 0.4;}}
@media (max-width:1024px) {
	div#box1 {position: relative;left: 0px;}
div#box2 {position: relative;left: 31%;}
.imageafter img {position: relative;}
div#box3 {left:0%;position: relative;}
div#box4 {position: relative;left: 36%;}
}
@media (max-width:900px){
.nws-lttr .vc_col-sm-3{width:15%;}.nws-lttr .vc_col-sm-6{width:70%;}.bf-af:before {display:none;}.bf-af:after {display:none;} .bbf-aaf:after {display:none;}.bbf-aaf:before {display:none;}}
@media (max-width:767px){
form#form-wysija-4{padding:0 20px;}
p.wysija-paragraph:before{display:none;}
input[type="submit"]{font-size:15px !important;height:5rem;padding:0px 0px !important;}
input[type="text"]{text-indent:0px;height:5rem;}
div#backgroundeffect .alignleft {float: left;}
}
@media (max-width:600px){
	/*.zuzu{font-size: 80px !important;}*/
div#virtulfont span {font-size:100px !important;}
.tp-element-background {background: url(http://floridawordpressdevelopers.com/ZUZU/wp-content/uploads/2018/05/mobile-bannerupdate.jpg) !important;background-size: cover !important;background-position: center center !important;top: -92px;
}
.img2 {display: none;}
}
@media (max-width:500px) {
	.tp-element-background {background-size: contain !important;background-position: center center !important;top: 0%;background-repeat: no-repeat !important;width:103%;
}
.box {width: 100%;}
.imge1 img { opacity: 0.4;}
div#box2 {position: relative;left: 0px;}
div#box3 {left: 0%;position: relative;}
div#box4 {position: relative;left: 0px;padding: 5px 1px 37px;margin-bottom: 35px;}
.imageafter img {left:0px;}
section#contactus {padding: 10% 5%;}
}